#header {
    font-family: 'Cambria';
    font-weight: bold;
    padding: 15px 0px;
}

.collection {
    max-width: 75%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 10px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.collection-title {
    font-family: "Cambria";
    font-size: 25px;
    font-weight: bold;
}

.collection-image {
    max-height: 300px;
    border-radius: 8px;
}

.view-button {
    font-weight: bold;
    color: black;
}

.view-button:hover {
    text-decoration: underline;
}

.collection-text {
    text-align: left;
}